.mya-hoy{
    min-height: 100vh;
    padding: 2em 1em;
}
.estilo-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mya-hoy-canciones{
    width: 70%;
    padding: 2em;
    border-radius: 25px;
    background: #0005;
    color: #fff;
}
.mya-hoy-canciones>h2{
    width: 100%;
    text-align: left;
}
.mya-hoy-canciones>p{
    text-align: justify;
    text-transform: lowercase;
}
/*Estilos puntuales*/
.mya-hoy-pr-cancion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imagenes/imagenes-albumes/hoy-loco-por-ti.jpg");
    background-size: cover;
}
.mya-hoy-sg-cancion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imagenes/imagenes-albumes/hoy-amor-prohibido.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.mya-hoy-tc-cancion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imagenes/imagenes-albumes/hoy-piensalo.webp");
    background-size: cover;
}
.mya-hoy-ct-cancion{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imagenes/imagenes-albumes/hoy-te-olvidare.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/*media screens*/
@media screen and (min-width:300px) and (max-width:1024px){
    .mya-hoy{
        background-position: center;
    }
    .mya-hoy-canciones{
        width: 100%;
    }
}
