.integrantes{  
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('../imagenes/fondos/palmas.jpg');
    padding: 1em 0 2em;
}
.integrantes>article{
    margin: 2em 0;
}
.titulo-integrantes{
    margin: auto;
    color: #fff;
    text-align: center;
}
.titulo-integrantes>h1{
    font-size: 3em;
    text-shadow: 10px 10px 5px #000;
}